<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <title>Document</title>
</head>
<body>

  <div id="app">

    <div class="header">
      <img src="https://assets.brand.microsites.netflix.io/assets/1ed15bca-b389-11e7-9274-06c476b5c346_cm_800w.png?v=55" alt="logo">
      <div class="search_bar">
        <input type="text" v-model="query" @keyup.enter="search">
        <button type="button" name="button" @click="search">Search</button>
      </div>
    </div>

    <div class="main">
      <div class="box_film" v-for="movie in movies">

        <img class="poster"  v-if="movie.poster_path" :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path">
        <img class="poster"  v-else src="img/poster-placeholder.png">

        <div class="backside_card">
          <p><strong>Titolo</strong>: {{movie.title}} {{movie.name}}</p>
          <p><strong>Titolo originale</strong>: {{movie.original_title}} {{movie.original_name}}</p>
          <p class="line-clamp" v-if="movie.overview"><strong>Overview</strong>: {{movie.overview}}</p>
          <p class="line-clamp" v-else><strong>Overview</strong>: nessuna overview</p>
          <i class="fas fa-star" v-for="i in trasformaVoto(movie.vote_average)"></i>
          <i class="far fa-star" v-for="i in (5-trasformaVoto(movie.vote_average))"></i>
          <div class="lang">
            <img :src="'img/' + movie.original_language + '.png'" :alt="movie.original_language">
          </div>
        </div>

      </div>
    </div>

  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
